<!DOCTYPE html>
<style>
    .navbar-brand {
        font-weight: bold;
    }
</style>


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '141863326584652',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v2.12'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="font-family: 'Exo', sans-serif; opacity:0.8;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("WeTrain", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Customized", "Customized", "Home")</li>
                    <!-- <li>@Html.ActionLink("Contact", "Contact", "Home")</li> -->
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <!-- <hr />
        <footer>
             <p>&copy; @DateTime.Now.Year - Talia crazy Application</p>
         </footer>-->
    </div>
    @{
        Html.RenderPartial("ModalView");
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="../Scripts/modalScript.js"></script>
    <script>
        var videoGlobalUrl = "";
        let post_id;
        let like_counter = 0;
        let comment_counter = 0;
        let token = 'EAACEdEose0cBAJZCEHOH36xWTtD6cbuhnjEtDPcNREvakeXXgzbkBcxBW2t2B7FsPYTFC1RZAaA3Roc0fkkSZCrorS7LciN5oSeDDu6XU0jUZA6b4noZB0iE8zXdfOI7w0wedKwxEqsNkDq1xP6Gmw3jSD70FqMSdYIjKuWADw3A0KuApFuO7xWNkZC9u8k9UZD';
        var interval;
        $(document).ready(function () {
            $(document).on('click', ".share", function (e) {
                e.preventDefault();
                FB.ui(
                    {
                        method: 'feed',
                        name: 'testing',
                        link: videoGlobalUrl,
                        picture: 'http://img.youtube.com/vi/1CE6W5BubQo/0.jpg',
                        //caption: '',
                        description: '',
                        source: "https://youtube.googleapis.com/v" + videoGlobalUrl.substring(videoGlobalUrl.lastIndexOf("/"))
                    },
                    // callback
                    function (response) {
                        console.log('response', response);
                        post_id = response.post_id;
                        console.log("/303261006522998_" + post_id + "/Likes");
                        //if (response && !response.error_message) {
                        //    alert('Posting completed.');
                        //} else {
                        //    alert('Error while posting.');
                        //}
                    }
                );
                interval = setInterval(function () {
                    FB.api(
                        "/303261006522998_" + post_id + "/Likes",
                        function (response) {
                            if (response && !response.error) {
                                console.log(response);
                                let difference;
                                if (response.data.length > like_counter) {
                                    difference = response.data.length - like_counter;
                                    like_counter = response.data.length;
                                    for (let i = 0; i < difference; i++) {
                                        let name = response.data[i].name;
                                        //TODO send likes and sound
                                        run_example(name);
                                    }
                                    if (difference > 0) {
                                        console.log('should play');
                                        (new Audio('../../content/cheers.m4a')).play();
                                    }
                                }
                            }
                            else {
                                console.log('no no no...', response);
                            }
                        }, { access_token: token }
                    );
                    FB.api(
                        "/303261006522998_" + post_id + "/comments",
                        function (response) {
                            if (response && !response.error) {
                                console.log(response);
                                if (response.data.length > comment_counter) {
                                    let difference = response.data.length - comment_counter;
                                    for (let i = comment_counter; i < comment_counter + difference; i++) {
                                        let comment = response.data[i].message;
                                        let name = response.data[i].from.name;
                                        //TODO send comment
                                        run_example(name, comment);
                                    }
                                    comment_counter = response.data.length;
                                }
                            }
                            else {
                                console.log('no no no...', response);
                            }
                        }, { access_token: token }
                    );
                }, 2000);
            });
            //.on('click', "#counter", function (e) {
            //   console.log("/303261006522998_" + post_id + "/Likes");
            $('.close').click(function () {
                clearInterval(interval);
                post_id = "";
            });
        });



    </script>
</body>
</html>
