<!DOCTYPE html>
<style>
    .icon-img {
        width: 20%;
        margin-bottom: -25px;
        margin-left: -7px;
        opacity: 0.5;
    }
</style>


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Images/appicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>@ViewBag.Title - We Train Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '141863326584652',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v2.12'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="font-family: 'Exo', sans-serif; opacity:0.8; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="icon-img" src="~/Content/Images/appicon (1).png"/>
                @Html.ActionLink("WeTrain", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse container gray highlightTextIn">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Customized", "Customized", "Home")</li>
                    <!-- <li>@Html.ActionLink("Contact", "Contact", "Home")</li> -->
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="loader-body hidden">
            <img src="@(" ../Content/images/gifs/" + (new Random()).Next(1,9) + ".gif")" style="width: 10%; position: relative; margin: 100px auto; display: block;" />
        </div>
        @RenderBody()
        <!-- <hr />
    <footer>
         <p>&copy; @DateTime.Now.Year - Talia crazy Application</p>
     </footer>-->
    </div>
    @{
        Html.RenderPartial("ModalView");
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="../Scripts/modalScript.js"></script>
    <script>
        var videoGlobalUrl = "";
        let post_id;
        let like_counter = 0;
        let comment_counter = 0;
        let token = 'EAACEdEose0cBADnp1fAia4ZCxRSdSmzGaH2ZCduSWQtHl2EedkTHG99PMG9dgu2hGaIDtiMUouNhZCgWiatsyiZAweO84vwZBOFl5whlQ220WMzgGIMrsGZBStTDAhQaDkLzs01ZA0l0COGFZBhGLLJdqWiCtzM2ZCB1jTteHY5rOHYFtB39q5VIUcw33nVAZBiLnI6CxL5ndzxQZDZD';
        var interval;
        $(document).ready(function () {
            $(document).on('click', ".share", function (e) {
                e.preventDefault();

                FB.login(function (response) {
                    FB.api('/me', function (response) {
                        //var p_accessToken = response.data[0].access_token;
                      //  var p_name = response.data[0].name;
                        console.log(response);
                        FB.ui(
                            {
                                method: 'feed',
                                name: 'testing',
                                link: videoGlobalUrl,
                                picture: 'http://img.youtube.com/vi/1CE6W5BubQo/0.jpg',
                                caption: '',
                                description: '',
                                source: "https://youtube.googleapis.com/v" + videoGlobalUrl.substring(videoGlobalUrl.lastIndexOf("/"))
                            },
                            // callback
                            function (response) {
                                console.log('response', response);
                                post_id = response.post_id;
                                console.log("/303261006522998_" + post_id + "/Likes");
                                if (response && !response.error_message) {
                                    console.log('Posting completed.');
                                } else {
                                    console.log('Error while posting.');
                                }
                            }
                        );
                        interval = setInterval(function () {
                            FB.api(
                                "/303261006522998_" + post_id + "/Likes",
                                function (response) {
                                    if (response && !response.error) {
                                        console.log(response);
                                        let difference;
                                        if (response.data.length > like_counter) {
                                            difference = response.data.length - like_counter;
                                            like_counter = response.data.length;
                                            for (let i = 0; i < difference; i++) {
                                                let name = response.data[i].name;
                                                //TODO send likes and sound
                                                run_example(name);
                                            }
                                            if (difference > 0) {
                                                console.log('should play');
                                                (new Audio('../../content/cheers.m4a')).play();
                                            }
                                        }
                                    }
                                    else {
                                        console.log('no no no...', response);
                                    }
                                }, { access_token: token }
                            );
                            FB.api(
                                "/303261006522998_" + post_id + "/comments",
                                function (response) {
                                    if (response && !response.error) {
                                        console.log(response);
                                        if (response.data.length > comment_counter) {
                                            let difference = response.data.length - comment_counter;
                                            for (let i = comment_counter; i < comment_counter + difference; i++) {
                                                let comment = response.data[i].message;
                                                let name = response.data[i].from.name;
                                                //TODO send comment
                                                run_example(name, comment);
                                            }
                                            comment_counter = response.data.length;
                                        }
                                    }
                                    else {
                                        console.log('no no no...', response);
                                    }
                                }, { access_token: token }
                            );
                        }, 2000);
                    });
                }, { scope: "user_likes, user_posts" }); 


             
            });
            //.on('click', "#counter", function (e) {
            //   console.log("/303261006522998_" + post_id + "/Likes");
            $('.close').click(function () {
                clearInterval(interval);
                post_id = "";
            });
        });



    </script>
</body>
</html>
