@model AutoLotto.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Home Page";
}


<div class="body"></div>
<div class="grad"></div>
@*<img src="@(" ../Content/images/gifs/" + (new Random()).Next(1,9) + ".gif")" style="width: 10%; position: relative; margin: 100px auto; display: block;" />*@
<div class="header">


    <div>We<span>Connect</span></div>
</div>
<div class="login">
    <br />
    <input type="button" value="continue with Facebook" id="fb" style="margin-top:18px;">

    @{
        var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = (string)null }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">

                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                    <button type="submit" class="btn btn-primary hidden" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }


</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#fb").click(function () {
                $("#Facebook").click();
            });
        });
    </script>
}

